  {{#each blogsD as |blog|}}
<div class="card text-center">

  <div class="card-body">
    <h5 class="card-title">
      {{blog.title}}
      </h5>
    <p class="card-text">    
    {{blog.blogText}}
    </p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
  <div class="card-footer text-muted">Created by: 
    {{blog.user_id}}
    on
    {{blog.date_created}}
  </div>
</div>
  {{/each}}