<div class="card text-center">

  <div class="card-body">
    <h5 class="card-title">
      {{title}}
      </h5>
    <p class="card-text">    
    {{blogText}}
    </p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
  <div class="card-footer text-muted">Created by: 
    {{user_id}}
    on
    {{date_created}}
  </div>
</div>


